<div class="profile-container">
  <header>
    <h1>Sofia's profile</h1>
  </header>
  <div class="user-img">
    <img alt="photo" [src]="imageURL.image" />
  </div>
  <div class="description">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, odio!
    </p>
  </div>
  <div class="total-points">
    <p>Total Points: 20</p>
  </div>

  <div class="actions">
    <div class="likes">
      <button>Likes: 2</button>
    </div>
    <div class="edit-delete-group">
      <div class="edit-btn">
        <button (click)="goToEdit()">Edit</button>
      </div>
      <div class="delete-btn">
        <button>Delete</button>
      </div>
    </div>
  </div>
</div>
