<div class="game-container">
  @if (gameState === "game-over") {
  <app-game-over [score]="score" (playAgain)="resetGame()"></app-game-over>
  } @else if (gameState === "winner") {
  <app-winner [score]="score" (playAgain)="resetGame()"></app-winner>
  } @else {
  <header>
    <h1>Guess the capital</h1>
  </header>

  @if (currentQuestion) {
  <div class="country">
    <p>{{ currentQuestion.country }}</p>
  </div>

  <div class="buttons-container">
    @for (option of currentQuestion.options; track option) {
    <button (click)="handleAnswer(option)">
      {{ option }}
    </button>
    }
  </div>

  <div class="score">
    <p>Score: {{ score }}</p>
  </div>
  } }
</div>
