<div class="game-container">
  @if(gameState === "game-over"){
  <app-game-over></app-game-over>

  } @else if(gameState === "winner") {
  <app-winner></app-winner>

  }@else {

  <header>
    <h1>Guess the capital</h1>
  </header>
  <div class="country">
    <p>Italy</p>
  </div>
  <div class="buttons-container">
    <button (click)="winner()">Rome</button>

    <button>Budapest</button>
    <button>Moscow</button>
    <button>Madrid</button>
  </div>

  <div class="score">
    <p>Score: 1</p>
  </div>
  }
</div>
