<section class="home-section">
  <header>
    <h1>Dearest Adventurous Player, Welcome to Guess The Country!</h1>
  </header>

  <div class="play-button">
    <button [disabled]="isLoggedIn">Play</button>
  </div>

  <div class="statistic-button">
    <button (click)="goToStatistic()">Statistic</button>
  </div>

  @if (isLoggedIn) {
  <div class="login-button">
    <button (click)="goToLogin()">Login</button>
  </div>

  <div class="register-button">
    <button (click)="goToRegister()">Register</button>
  </div>

  }@else {
  <div class="logout-button">
    <button>Logout</button>
  </div>
  }
</section>
