<section class="home-section">
  <header>
    <h1>Dearest Adventurous Player, Welcome to Guess The Capital!</h1>
  </header>

  <div class="play-button">
    <button (click)="handlePlayClick()" [disabled]="!(user$ | async)">
      Play
    </button>
  </div>

  <div class="statistic-button">
    <button (click)="goToStatistic()">Statistic</button>
  </div>

  @if (!(user$ | async)) {
  <div>
    <div class="login-button">
      <button (click)="goToLogin()">Login</button>
    </div>
    <div class="register-button">
      <button (click)="goToRegister()">Register</button>
    </div>
  </div>
  } @else {
  <div>
    <div class="logout-button">
      <button (click)="logout()">Logout</button>
    </div>
  </div>
  }
</section>
